APP_ENV=dev
FLEX_BASE_URL=https://ndcdyn.interactivebrokers.com/AccountManagement/FlexWebService
FLEX_TOKEN=
FLEX_QUERY_ID_DAILY=
FLEX_USER_AGENT=ibkr-show-worker/0.1
FLEX_POLL_INTERVAL_SECONDS=5
FLEX_MAX_POLL_RETRIES=12
ES_HOST=http://localhost:9200
ES_USERNAME=
ES_PASSWORD=
ES_VERIFY_CERTS=false
